@font-face {
  font-family: "Christmas";
  src: url("./../fonts/christmas-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nazare Regular";
  src: url("./../fonts/nazare/Nazare-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nazare Medium";
  src: url("./../fonts/nazare/Nazare-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Nazare Light";
  src: url("./../fonts/nazare/Nazare-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Nazare Heavy";
  src: url("./../fonts/nazare/Nazare-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Nazare SemiBold";
  src: url("./../fonts/nazare/Nazare-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nazare ExtraBold";
  src: url("./../fonts/nazare/Nazare-ExtraBold.ttf") format("truetype");
}
.bg-bleu {
  background: #AEC6F7;
}

.bg-bleu-secondary {
  background: #E9F0FF;
}

.text-bleu-primary {
  color: #051583;
}

.text-bleu-secondary {
  color: #AEC6F7;
}

.text-christmas {
  font-family: Christmas, serif;
  padding: 1rem 1rem 0 0;
}

.text-nazare {
  font-family: "Nazare Regular", serif;
}

.text-montserrat {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 3vw;
}

.subtitle {
  font-size: 2.5vw;
}

.mollat_subtitle {
  width: 100%;
  transform: rotate(-10.78deg);
  margin-left: -10%;
  margin-bottom: 10%;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.1vw;
}

.intro_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

button.btn_discover {
  font-size: 1vw;
  padding: 0.6vw 1.4vw;
  text-transform: uppercase;
  border-radius: 0;
  background: #AEC6F7;
  color: #051483;
}
button.btn_discover:hover {
  color: #E9F0FF;
}

button.btn_discover_popup {
  font-size: 1vw;
  padding: 0.8vw 1vw;
  border-radius: 0;
  background: black;
  margin: auto;
  text-align: center;
  color: #fff;
}
button.btn_discover_popup:hover {
  color: #E9F0FF;
}

body .bg_top {
  position: fixed;
  z-index: 998;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  left: 0;
}
body .bg_left {
  position: fixed;
  top: 0;
  left: 0;
  width: 2.5%;
  height: auto;
  z-index: 999;
}
body .bg_right {
  position: fixed;
  top: 0;
  right: 0;
  content: "";
  width: 7.8%;
  height: auto;
  z-index: 999;
}
body.fixed_scroll {
  overflow: hidden;
}

body {
  width: 100%;
  margin: auto;
}
body .intro-container {
  position: relative;
  padding: 10% 5%;
  z-index: 3;
}
body .intro-container .intro-content {
  position: relative;
  z-index: 5;
}
body .intro-container .intro-content:before {
  position: absolute;
  bottom: -26%;
  left: 0;
  content: "";
  width: 50%;
  height: 30%;
  background: url(./../images/noel/Femme_boite.svg) no-repeat bottom;
  background-size: contain;
}
body .intro-container .intro-content:after {
  position: absolute;
  bottom: -33%;
  right: 0;
  content: "";
  width: 50%;
  height: 74%;
  background: url(./../images/noel/Gros_sapin.svg) no-repeat bottom;
  background-size: contain;
}
body .intro-container h1 {
  max-width: 60%;
  margin: auto;
}
body .intro-container .intro_desc {
  max-width: 40%;
  margin: auto;
  font-weight: 300;
}
body .intro-container .given_book_taken {
  position: relative;
  margin: 8vw 0 4vw;
}
body .intro-container .given_book_taken p {
  position: relative;
  max-width: 10%;
  line-height: 1.2vw;
  margin: auto;
}
body .intro-container .given_book_taken img {
  display: block;
  width: 18vw;
  margin: 3vw auto;
}
body .intro-container:before {
  top: 0;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #E9F0FF;
  background-size: contain;
}
body .intro-container:after {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(./../images/noel/Wave.svg) no-repeat bottom;
  background-size: contain;
  z-index: 1;
}
body .aim_container {
  position: relative;
  margin-top: 8%;
  padding-bottom: 10%;
  z-index: 1;
}
body .aim_container .discover_main {
  max-height: none !important;
  margin: 6% 10% 6% 5%;
}
body .text-intro {
  position: relative;
  padding: 5% 15% 0 5%;
}
body .parcours_container {
  position: relative;
  margin-top: -13vw;
  padding: 0 5%;
}
body .parcours_container .parcours_item {
  position: absolute;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
body .parcours_container .parcours_item.active {
  margin-top: -0.5vw;
  transform: scale(1.1);
  z-index: 11;
}
body .parcours_container #chemin {
  position: absolute;
  top: 0;
  width: 76vw;
  left: 13vw;
  z-index: -1;
  object-fit: cover;
}
body .parcours_container #createurs {
  top: 13vw;
  left: 27vw;
  width: 23vw;
}
body .parcours_container #vinchaud {
  top: 23vw;
  left: 7vw;
  width: 23vw;
}
body .parcours_container #ecrivains {
  top: 48vw;
  left: -2vw;
  width: 23vw;
}
body .parcours_container #mollatetvous {
  top: 64vw;
  left: 28vw;
  width: 19vw;
  padding-bottom: 5vw;
}
body .parcours_container #ecrivains2 {
  top: 62vw;
  right: 13vw;
  width: 28vw;
}
body .parcours_container #concert {
  top: 34vw;
  right: 8vw;
  width: 25vw;
}
body .parcours_container #echanges {
  top: 34vw;
  right: 46vw;
  width: 9.5vw;
}
body #parcours_overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #616161;
  opacity: 0.8;
  z-index: 10;
  transition: opacity 0.25s ease-in-out;
}
body #parcours_overflow.hidden {
  opacity: 0;
  pointer-events: none;
}
body .modal-dialog {
  width: 100%;
  margin: 6vw auto 3vw;
  min-height: calc(100% - 9vw);
  max-height: 20vw;
  max-width: 35vw;
}
body .modal-dialog .modal-content {
  border: none;
  border-radius: 0;
}
body .modal-dialog .modal-content .modal-header {
  padding: 4vw 3vw 1vw;
  border: none;
}
body .modal-dialog .modal-content .modal-header p {
  margin-bottom: 0;
}
body .modal-dialog .modal-content .modal-header .close {
  position: absolute;
  top: 0;
  right: 1vw;
  margin: 0;
  padding: 0;
  font-size: 4vw;
  line-height: 0.8;
}
body .modal-dialog .modal-content .modal-header .close img {
  width: 1.2vw;
}
body .modal-dialog .modal-content .modal-body {
  padding: 2vw 3vw 1vw;
}
body .modal-dialog .modal-content .modal-body p {
  margin-bottom: 0;
}
body .modal-dialog .modal-content .modal-footer {
  padding: 2vw 0 2vw 3vw;
  border: none;
}
body .modal-dialog .modal-content .stand_title {
  padding: 0.4vw 1vw 0.1vw;
  font-weight: bold;
  background-color: #F3BC54;
}
body .modal-dialog .modal-content .stand_nb {
  font-style: italic;
  color: #001689;
}
body .modal-dialog .modal-content .modal_c_title {
  font-style: italic;
  color: #001689;
}
body .modal-dialog .modal-content .modal_c_subtitle {
  font-weight: bold;
  color: #001689;
}
body .modal-dialog .modal-content .modal_c_description {
  margin-top: 1vw;
  font-weight: 300;
}

#snowID {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  z-index: 9;
  pointer-events: none;
}

/*# sourceMappingURL=noel.css.map */
